<%= form_for :loanDetail, url: loan_detail_index_path do  |f| %>
 
<h1>New Calculation</h1>
  <% if @loanDetail.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@loanDetail.errors.count, "error") %> prohibited
        this loan details from being saved:
      </h2>
      <ul>
        <% @loanDetail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :Loan_Amount %><br>
    <%= f.text_field :loan_amount %>
  </p>
 
  <p>
    <%= f.label :Tenure %><br>
    <%= f.text_field :tenure %>
  </p>

  <p>
    <%= f.label :Rate_of_interest %><br>
    <%= f.text_field :rate_of_interest %>
  </p>

<h3>Extra Payments</h3>

  <p>
    <%= f.label :monthly_payment %><br>
    <%= f.text_field :monthly_payment %>
  </p>

  <p>
    <%= f.label :one_time_payment %><br>
    <%= f.text_field :one_time_payment %>
    <%= f.date_select :set_date_one_time_payment %>
  </p>

  <p>
    <%= f.label :yearly_payment %><br>
    <%= f.text_field :yearly_payment %>
    <%= f.date_select :set_date_yearly_payment %>
  </p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>

<%= link_to 'Back', loan_detail_index_path %>